{% extends 'base.html' %}
	{% block title %}
		<title>Change Password</title>S
	{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 80px;margin-bottom: 30px;">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 form-container">
			<h2 style='margin-top: 10px;'>Change Password</h2> 
			<p style="font-size: 12px;">Please note that all the fields marked with  <span style="color: red;">*</span> are mandatory.</p>			
			{% if status %}
			<div class="alert alert-success" style="margin-top: 20px;width: 50%;height: 20%;">
				Password changed successfully.
			</div>
			{% else %}
				{% if  password_mismatch %}
				<div class="alert alert-danger" style="margin-top: 20px;width: 50%;height: 20%;">
					Incorrect Current Password.
				</div>
				{% endif %}
			{% endif %}
			<form method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="password">Current Password <span style="color: red;">*</span></label>
						<input type="password" class="form-control" id="password" name="password" required>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="new_password">New Password <span style="color: red;">*</span></label>
						<input type="password" class="form-control" id="new_password" name="new_password" required>
					</div>
                </div>
                <div class="row">
					<div class="col-sm-6 form-group">
						<label for="c_password">Confirm New Password <span style="color: red;">*</span></label>
						<input type="password" class="form-control" id="c_password" name="c_password" required oninput="change_password()">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<button id='submit_button' type="submit" class="btn btn-success" disabled>Update </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function change_password(){
        var pwd = document.getElementById('new_password').value;
        var pwd2 = document.getElementById('c_password').value;
        if ((pwd == pwd2) && (pwd != "")){
            document.getElementById('submit_button').disabled = false;
        }
    }
</script>
{% endblock scripts %}
