{% extends 'base.html' %}
	{% block title %}
		<title>update feedback</title>S
	{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 80px;">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 form-container">
			<h2 style='margin-top: 10px;'>Edit form</h2>
			<form method="post" >
				{% csrf_token %}
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="feedback">Feedback</label>
						<input type="text" class="form-control" id="feedback" name="feedback" required>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<button id='submit_button' type="submit" class="btn btn-success">Update </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
