<div style="border-top:  10px solid rgb(194, 192, 192);bottom: 0;width: 100%;z-index: 1000; ">
        	<br>
          <div style="width:55%;margin-right:11%;float: left;margin-bottom: 20px;">
            <h3>INFO</h3>
            <ul>
                <li>Gandipet, Hyderabad, Telangana</li>
                <li>PIN : 500075</li>
                <li>Email: abcdefgh@cbit.ac.in</li>
            </ul>
          </div>
          <div style=" width:30%; float: left;margin-bottom: 20px;">
            <h3>CBIT PE Department</h3>

            <p>Physical education is an important component of education today, since only a healthy body can sustain the rigorous intellectual pursuits that the future scientists and engineers have to endure. At CBIT’s physical education department, we make it a point to keep building the physical stamina of our students so that they always remain energetic.</p>
          </div>
  </div>